
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-left">
      <i class="fa fa-bars"></i>
    </a>
    <a href="http://localhost:4200/getstarted" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
      <a href="http://localhost:4200/getstarted/product" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> ITEMS</a>
      <a href="http://localhost:4200/getstarted/product/signin" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> SIGN IN</a>
    </div>
</div>

<body>
    <img class="wave" src="https://3.bp.blogspot.com/-Ups1N_IE3Lo/XnW437nUjjI/AAAAAAAAAOw/JL0mKbgbClgRCI696LAPpRkDEmTJc9sdgCK4BGAYYCw/s320/wave.png">
    <div class="container">
        <div class="img">
            <img src="https://3.bp.blogspot.com/-bRIrBq-ItFQ/XnW2E1FIZrI/AAAAAAAAANc/1CRnHDQslvIq983omtuvYm4R7pfmf8Z4wCK4BGAYYCw/s320/signin.jpg">
        </div>
        <div class="login-container">

            <form action="sign-in.component.html" [formGroup] = "loginForm">
                <img class="avatar" src="https://3.bp.blogspot.com/-Oim9AF6Czl8/XnW4czKg4pI/AAAAAAAAAOo/R3nC2AJyw683qkjW-NC5HKWEI_mLzscdwCK4BGAYYCw/s320/avatar.jpg">
                <h2>Welcome</h2><br>

                <div class="input-div one focus">
                    <div class="i"><i class="fa fa-id-badge"></i></div>
                    <div>
                        <input class="input" formControlName="email" placeholder="Email" type="text"><br><br><br>
                        <span *ngIf="isValid('email')" style="color:red"><b>Entered email is invalid</b></span>
                    </div>
                </div>

                 <div class="input-div two focus">
                    <div class="i"><i class="fa fa-lock"></i></div>
                    <div>
                        <input class="input" formControlName="password" placeholder="Password" type="password"><br><br><br>
                        <span *ngIf="isValid('password')" style="color:red"><b>Password cannot be blank</b></span>
                    </div>
                </div>

                <br><br>
                <button class="btn" input type="submit" (click)="login()"><b>Sign in</b></button>

                <div style="text-align:center;">
                    <b style="color:red">{{successMessage}}</b>
                </div>
            </form>
        </div>
    </div>
</body>
