<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-left">
      <i class="fa fa-bars"></i>
    </a>
    <a href="http://localhost:4200/getstarted" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
      <a href="http://localhost:4200/getstarted/product" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> ITEMS</a>
      <a href="http://localhost:4200/getstarted/product/signin" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> SIGN IN</a>
    </div>  
</div>

<div class="container">

  <div class="posts">
      
      <div class="post">
          <div class="post__image post__image--1"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Tomato</b></h3>
                  <p class="post__excerpt">
                    Tomato fruit quality is determined mainly by color, texture, and flavor. Among those, color and flavor are probably the most useful criteria for estimating maturity of tomato fruit. High quality is associated with redness of color and prominence of flavor.</p>
                  <a href="https://www.yara.us/crop-nutrition/tomato/influencing-tomato-quality/" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
              </div>
          </div>
      </div>
      
      <div class="post">
          <div class="post__image post__image--2"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Potato </b></h3>
                  <p class="post__excerpt">
                    Potatoes are produced for starch production, the starch concentration in the tubers is the most important quality parameter. High dry matter content within the tuber ensures lower oil absorption.</p>
                  <a href="https://www.yara.us/crop-nutrition/potato/" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
                </div>
          </div>
      </div>
      
      <div class="post">
          <div class="post__image post__image--3"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Onion </b></h3>
                  <p class="post__excerpt">
                    Onions are a good source of dietary fiber, and folic acid. They also contain calcium, iron, and have a high protein quality. Onions are low in sodium and contain no fat. Onions contain quercetin, a flavonoid.</p>
                  <a href="https://www.yara.us/crop-nutrition/onion/" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
              </div>
          </div>
      </div>
      
      <div class="post">
          <div class="post__image post__image--4"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Red Apple</b></h3>
                  <p class="post__excerpt">
                    Red cultivars result from a superimposed accumulation of the red pigment anthocyanin. Anthocyanin accumulation in apple fruit can be affected by environmental, nutritional, and orchard management factors, the stage of maturity of the fruit, and by the microenvironment within the canopy.</p>
                  <a href="https://www.yara.us/crop-nutrition/apple/" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
              </div>
          </div>
      </div>
      
      <div class="post">
          <div class="post__image post__image--5"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Orange </b></h3>
                  <p class="post__excerpt">
                    Oranges are among the world's most popular fruits, as they're both tasty and nutritious. They are a good source of vitamin C, as well as several other vitamins, minerals, and antioxidants. For this reason, they may lower your risk of heart disease and kidney stones.</p>
                  <a href="https://www.healthline.com/nutrition/foods/oranges" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
              </div>
          </div>
      </div>
      
      <div class="post">
          <div class="post__image post__image--6"></div>
          <div class="post__content">
              <div class="post__inside">
                  <h3 class="post__title"><b>Green Apple</b></h3>
                  <p class="post__excerpt">
                    Green apples are rich in Vitamins A, B and C, so apart from protecting the skin from harmful effects of free radicals; it also helps one in maintaining glowing skin from inside.</p>
                <a href="https://food.ndtv.com/food-drinks/5-amazing-benefits-of-green-apples-for-skin-and-overall-health-1804690" target="_blank"><button class="btn--accent post__button">
                    Read more
                    <i class="fa fa-chevron-right"></i>
                </button></a>
            </div>
        </div>
    </div>

      